/* basic page style */

:lang(ar) {
  * {
    letter-spacing: 0 !important;
  }
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-speciality: #1b1b2f; 
    --color-dot: #4e4e50; 
    --color-text: #ffffff; 
    --color-code: #1b1b2f; 
    --color-theme: #1aefba; 
    --color-button: #2391ad;
    --color-accent: #6b6b83; 
    --color-ambient: #9bc7a0; 
    --color-base: #151b1a;
    --color-main: #faf6f6; 
    --color-caution: #FFAA2B; 
  }

  --sp-l: 64px;
  --sp-m: 32px;
  --sp-s: 16px;
  --sp-xs: 4px;

  @media (width < 480px) {
    --sp-l: 48px;
    --sp-m: 16px;
    --sp-s: 8px;
    --sp-xs: 4px;
  }

  color: var(--color-main);
  background-color: var(--color-base);
  accent-color: var(--color-theme);

  background-size: 16px 16px;

  line-height: 1.6;
  font-weight: 500;
  font-size: 18px;
  font-family: "Noto Sans",
  system-ui,
  "SF Pro Text",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

  @media (width < 480px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.4;
}

a,
button {
  transition: 0.2s ease-out;
  &:hover,
  &:active {
    transition: 0.2s ease-out;
  }
}

svg,
path {
  fill: currentColor;
  aspect-ratio: 1;
}

span{
  color: var(--color-dot);
}