---
// Redirect to 404 page for user's system locale
// Basically, you don't need to edit this file.

---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>404 PAGE NOT FOUND</title>
    <link rel="canonical" href={Astro.site} />

  </head>
  <body>
    <h1>404 PAGE NOT FOUND</h1>
    <a href="/">TOP PAGE</a>
  </body>
</html>

<style>
  html{
    
  }
</style>
