---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Subtitle from "@components/Subtitle.astro";
import Quote from "@components/Quote.astro";
import Button from "@components/Button.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero name="Thomas" speciality="Web Developper" />

		<Subtitle title="A propos" />
		<p>
			Praesent malesuada mi nisi, quis tempus magna venenatis ut.
			Suspendisse tempor sem at scelerisque congue. Curabitur mollis, mi
			id molestie finibus, metus sem sagittis nunc, euismod feugiat orci
			neque non lorem. Aenean sollicitudin erat eu molestie tempus. Nunc
			ac eros elementum, fermentum lacus at, pellentesque mauris.
			Suspendisse eros neque, interdum euismod consectetur convallis,
			porttitor at massa. Phasellus a ultrices arcu. Donec viverra, lorem
			in pellentesque euismod, libero justo gravida nibh, non ultricies
			justo purus ultrices est.
		</p>
		<p>
			Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh
			consequat accumsan. Proin semper semper dui nec feugiat. Donec
			cursus neque id aliquet finibus. Morbi facilisis turpis nibh, nec
			dictum orci dictum nec. In hac habitasse platea dictumst. Maecenas
			mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.

			<Quote
				text="Every new day is a blank canvas waiting for the brush strokes of your dreams and desires."
				color="dd"
			/>
			<Button />

			<Subtitle title="Mes compétences" />
			<div class="skills center">
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="C#"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="DotNetCore"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="TypeScript"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="Angular"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="Bootstrap"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="CSS"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="HTML"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="JavaScript"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
				/>
				<img
					class="skills__img"
					width="46"
					height="46"
					alt="Git"
					src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
				/>
			</div>
			<Subtitle title="Interest" />
			<p>
				Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh
				consequat accumsan. Proin semper semper dui nec feugiat. Donec
				cursus neque id aliquet finibus. Morbi facilisis turpis nibh,
				nec dictum orci dictum nec. In hac habitasse platea dictumst.
				Maecenas mollis turpis vitae turpis bibendum, vitae tristique
				arcu eleifend.
			</p>
		</p>
	</main>
</Layout>

<style>
	p::first-letter {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--color-theme);
		padding-left: 42px;
		line-height: 1.2;
	}
</style>
