---
import siteConfig from "../data/const";

const hero = siteConfig.hero;
---

{
    hero?.actions && (
        <div class="flex justify-center space-x-4">
            <a
                href={hero.actions[0].href}
                class="inline-flex items-center justify-center px-6 py-2 font-serif text-sm leading-tight italic text-main bg-main border border-main rounded-3xl transition hover:bg-muted hover:bg-slate-700"
            >
                {hero.actions[0].text}
            </a>
        </div>
    )
}
