---
import siteConfig from "src/data/const"

const hero = siteConfig.hero;
---

<div class="flex justify-center space-x-4">
    {hero.actions && hero.actions.length > 0 && hero.actions.map((action) => (
        <a
            href={action.href}
            class="inline-flex items-center justify-center px-6 py-2 font-serif text-sm leading-tight italic text-main bg-main border border-main rounded-3xl transition hover:bg-muted hover:bg-slate-700"
        >{action.text}</a>
    ))}
</div>

<style>
</style>
