---
interface Props {
    url: string;
    image: string;
    title: string;
    body: string;
    date: string;
}

const { url, title, body, date } = Astro.props;

function truncateTitle(title: string, maxLength: number): string {
    if (title.length > maxLength) {
        return title.substring(0, maxLength) + "...";
    } else {
        return title;
    }
}
---

<li class="list-none">
    <a class="project-link" href={url}>
        <div class="flex gap-6 justify-between">
            <h2
                class="project-title text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
            >
                {truncateTitle(title, 30)}
            </h2>
            <span class="hidden sm:block">
                {date}
            </span>
        </div>
        <p class="mt-1 text-sm leading-normal">
            {body}
        </p>
    </a>
</li>


<style>
    .project-link {
        text-decoration: none;
        display: block;
        position: relative;
    }

    .project-title {
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    .project-title::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: transparent;
        border-bottom: 2px solid currentColor;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s ease-out;
    }

    .project-link:hover .project-title::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
</style>
