---
import siteConfig from "src/data/const";

const socialLinks = siteConfig.socialLinks || [];
const footerNavLinks = siteConfig.footerNavLinks || [];
---

<footer
    class="l-content mx-auto max-w-3xl min-h-10 pt-4 relative sm:min-h-14 md:pt-8 justify-center"
>
    <div class="w-full max-w-3xl mx-auto relative py-3">
        <ul id="footer-items" class="flex flex-wrap gap-3 sm:gap-6 justify-center">
            {
                footerNavLinks.map((link) => (
                    <li class="py-1">
                        <a
                            class="sm:text-md font-serif text-sm hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base"
                            href={link.href}
                        >
                            {link.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div class="border-t">
        {
            socialLinks?.length > 0 && (
                <div class="py-3">
                    <ul
                        id="social-links"
                        class="flex flex-wrap gap-6 justify-center"
                    >
                        {socialLinks.map((link) => (
                            <li class="py-1">
                                <a
                                    class="inline-flex items-center justify-center text-sm hover:underline hover:underline-offset-2"
                                    href={link.href}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    {link.text}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }

        <small class="text-sm flex flex-wrap justify-center py-3">
            © 2024 Eclipse by &nbsp;
            <a
                class="underline underline-offset-4 hover:no-underline"
                href="https://github.com/Thomas-Zabalo"
                target="_blank"
                rel="noopener noreferrer"
            >
                thomas-zab&nbsp;
            </a>
            . All Rights Reserved.
        </small>
    </div>
</footer>
