---
// Header & Navigation UI displayed on each page.

const isActive = (path) => path === Astro.url.pathname;
---

<header class="l-header">
  <h1>
    <a href="/"> Apprendre Vue avec Astro </a>
  </h1>

  <nav class="l-content">
    <ul>
      <li>
        <a href="/setup" class={isActive("/setup") ? "active" : ""}>
          Configuration
        </a>
      </li>
      <li>
        <a href="/composant" class={isActive("/composant") ? "active" : ""}>
          Composants
        </a>
      </li>
      <li>
        <a href="/show" class={isActive("/show") ? "active" : ""}>
          ShowRoom
        </a>
      </li>
      <li>
        <a
          href="https://github.com/Thomas-Zabalo/astro-vue"
          target="_blank"
        >
          GitHub
          <span class="material-icons-sharp dir">open_in_new</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  * {
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    display: grid;
    place-items: center;
    gap: var(--sp-s);
  }

  h1 {
    margin-block-start: var(--sp-l);
    margin-inline-start: -0.5em;
    font-size: 40px;
    font-family: var(--english-font);
    font-weight: 900;
  }

  @media (width < 480px) {
    h1 {
      font-size: 28px;
    }
  }

  h1 a {
    display: flex;
    align-items: center;
  }

  h1 img {
    width: 6em;
    position: relative;
    inset: 0.1em;
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--sp-m);
  }

  ul {
    display: flex;
    gap: var(--sp-s);
    margin-block-start: var(--sp-s);
  }

  ul .en-only {
    position: relative;
  }

  ul .en-only:not(:lang(en))::before {
    content: "EN";
    position: absolute;
    inset: -0.4em -0.6em auto auto;
    font-size: 0.8em;
    font-weight: 900;
    color: var(--color-main);
    opacity: 0.6;
  }

  ul a {
    font-size: 1.05rem;
    display: block;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding-block: 0.2em;
    padding-inline: 0.4em;
    border-radius: 4px;
  }

  ul a:hover,
  ul a:active {
    background-color: color-mix(in srgb, var(--color-theme) 5%, transparent);
  }

  ul a.active {
    pointer-events: none;
    color: var(--color-theme);
  }

  .material-icons-sharp {
    opacity: 0.6;
    margin-inline-start: -0.2em;
    font-size: 0.9em;
  }
</style>
