---
import siteConfig from "src/data/const";

const headerNavLinks = siteConfig.headerNavLinks || [];
---

<nav class="l-content mx-auto max-w-3xl min-h-10 pt-4 pb-12 relative sm:min-h-14 sm:pb-24 md:pt-8">
    <div class="w-full max-w-3xl mx-auto relative flex items-center justify-between">
        <a class="text-xl font-serif text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href="/">
            Portfolio
        </a>
        <button class="menu-toggle md:hidden" aria-label="Open Menu">
            <svg class="w-8 h-8 text-main" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6H22V8H2V6ZM2 12H22V14H2V12ZM2 18H22V20H2V18Z" fill="currentColor"/>
            </svg>
        </button>
        <ul id="menu-items" class="hidden md:flex gap-6">
            {headerNavLinks.map((link) => (
                <li class="py-1">
                    <a class="text-xl font-serif text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href={link.href}>
                        {link.text}
                    </a>
                </li>
            ))}
            <li class="py-1 flex">
                <a class="text-xl font-serif text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href="https://github.com/Thomas-Zabalo/astro-template">
                    Github
                </a>
            </li>
        </ul>
    </div>
    
    <div class="menu md:hidden absolute top-0 left-0 w-full bg-white mt-14 sm:mt-16 pt-6 pb-8 px-4 z-10 border border-gray-200 shadow-lg rounded-lg hidden">
        <ul class="flex flex-col gap-4">
            {headerNavLinks.map((link) => (
                <li class="py-1">
                    <a class="text-xl font-serif text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href={link.href}>
                        {link.text}
                    </a>
                </li>
            ))}
            <li class="py-1 flex">
                <a class="text-xl font-serif text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href="https://github.com/Thomas-Zabalo/astro-template">
                    Github
                </a>
            </li>
        </ul>
    </div>
</nav>

<style>
    .menu-toggle {
        cursor: pointer;
    }
    .menu-toggle svg {
        transition: transform 0.3s ease;
    }
    .menu-toggle.active svg {
        transform: rotate(90deg);
    }
    @media (max-width: 425px) {
        .menu-toggle {
            display: block;
        }
        .menu {
            background-color: var(--color-base);
            display: none;
            width: calc(100% - 2rem);
            max-width: 24rem;
            left: 1rem;
            right: 1rem;
        }
        .menu.visible {
            display: block; 
        }
    }
</style>

<script is:inline>
    function setupMenuToggle() {
        const menuToggleBtn = document.querySelector('.menu-toggle');
        const menu = document.querySelector('.menu');
        
        menuToggleBtn?.addEventListener('click', () => {
            const isOpen = menu.classList.toggle('visible'); // Toggle la classe 'visible' au lieu de 'hidden'
            menuToggleBtn.classList.toggle('active', isOpen);
            menuToggleBtn.setAttribute('aria-expanded', isOpen.toString());
            menuToggleBtn.setAttribute('aria-label', isOpen ? 'Open Menu' : 'Close Menu');
        });
    }

    document.addEventListener('DOMContentLoaded', setupMenuToggle);

    document.addEventListener('astro:after-swap', () => {
        setupMenuToggle();
        const menu = document.querySelector('.menu');
        if (menu) {
            menu.classList.remove('visible');
        }
    });
</script>
