---
interface Props {
    text?: String;
    color?: String;
}

const { text, color } = Astro.props;
---

<p class="quote">
        "{text}"
</p>

<style>
    .quote {
        margin-block: 3em;
        padding-block-end: 0.2em;
        border-inline-start: 4px solid var(--color-accent);
        background-color: var(--color-ambient);
        padding: 1rem;
        padding-inline-start: var(--sp-s);
        line-height: 1.4;
        font-size: 1rem;
        font-weight: 600;
        font-style: italic;
    }
</style>
